name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup-mise
      - run: |
          rustup component add clippy
          rustup component add rustfmt
      - run: |
          cargo fmt --check
      - run: |
          cargo clippy --all-targets --all-features -- -D warnings
      - run: |
          cargo test
