name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - run: |
          rustup component add clippy
          rustup component add rustfmt
      - run: |
          cargo fmt --check
      - run: |
          cargo clippy --all-targets --all-features -- -D warnings
      - run: |
          cargo test
